body {
    font-family: sans-serif;
}
header{
    background-color:powderblue ;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius:15px ;
   
    
}
header nef {
    text-decoration: green;    
    
    
   

    

}
 h1{
    color: blueviolet;
}
footer p{
    background-color: lawngreen;
    padding: 5px;
}
nav a{
    margin: 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    border: 3px solid navy;
    border-radius: 15px;
    background-color:navy ;
    padding: 5px;
}
